.hide#rmenu
  ul#contMenu
    li#contMenuItem
      a(href="/groups/invite")#invText Invite to Group
    li#contMenuItem
      a(href='/groups/addFriend')#frInvText Add Friend
      
.hide#lmenu
  ul#contMenu
    li#contMenuItem
      a(href="/groups/invite")#invText Invite to Group
    li#contMenuItem
      a(href='/groups/removeFriend')#frRemText Remove Friend

.hide#gmenu
  ul#contMenu
    li#contMenuItem
      a(href="/groups/settings")#chGrText Group Settings
